@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-Bold.eot');
    src: url('../fonts/Acrom-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Acrom-Bold.woff2') format('woff2'),
        url('../fonts/Acrom-Bold.woff') format('woff'),
        url('../fonts/Acrom-Bold.ttf') format('truetype'),
        url('../fonts/Acrom-Bold.svg#Acrom-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype'),
        url('../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #2C2C2C;
}



@media (min-width: 1366px) {
    .container {
        max-width: 1366px;
    }
    .col-xxl-4 {
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
    }
}

.header {
    border-bottom: 1px solid rgba(196, 196, 196, 0.26);
    height: 114px;
}

.header .container {
    height: 100%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__title {
    padding-left: 22px;
}

.header__contacts-phone{
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.header__contacts-phone:before {
    content: url('../img/phone.png');
    padding-right: 10px;
}
.header__contacts-address {
    color: #239EF6;
}

.header__contacts-address:before {
    content: url('../img/pin.svg');
    padding-right: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav__item {
    margin: 0 15px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}
.nav__item:before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #E61743;
    border-radius: 50%;
    margin-right: 5px;
    transform: translateY(-2px);
}

.promo {
    margin-bottom: 60px;
}

.container_promo {
    display: flex;
    align-items: center;
}

.promo__description {
    flex: 0 0 55%;
}

.promo__img {
    flex: 0 0 45%;
}

.promo__img img {
    max-width: 100%;
}

.promo__title {
    font-family: 'Acrom', Arial, sans-serif;
    font-size: 41px;
    font-weight: bold;
    color: #454545;
}
.promo__text {
    padding-top: 40px;
    font-size: 18px;
}

.promo__button {
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #DF002F;
    background-color: #FB3962;
    text-align: center;
    padding: 0 45px;
    height: 55px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
}

.container_info {
    display: flex;
    align-items: stretch;
}

.info__column {
    flex: 0 0 40%;
    padding-right: 10px;
}

.info__column-item {
    background-color: #EFF9FF;
    border-radius: 10px;
    padding: 35px;
    margin-bottom: 10px;
}

.info__column-item:last-child {
    margin-bottom: 0;
}

.info__column-item-title {
    font-family: 'Acrom', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #454545;
}

.info__column-item-description {
    color: #454545;
}

.info__column-item-read-more {
    color: #239EF6;
    font-weight: bold;
    text-decoration: underline;
    font-size: 12px;
}

.info__slider-wrapper {
    flex: 0 0 calc(60% - 10px);
    margin-left: 10px;
    background-image: url('../img/slider-bg.png');
    border-radius: 10px;
    padding: 60px 90px;
    overflow: hidden;
    
}

.info__slider {
    height: 100%;
    color: #fff;
}

.info__slider-slide-title {
    font-size: 41px;
    font-family: 'Acrom', Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
}

.info__slider-slide-description {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
}

.info__slider .slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.info__slider .slick-dots li button {
    outline: none;
    width: 10px;
    height: 10px;
    border: 3px solid #fff;
    background: transparent;
    display: block;
    border-radius: 50%;
    padding: 0;
    font-size: 0;
    overflow:hidden;
    margin: 0 10px;
    /* more CSS */
}

.info__slider .slick-dots li.slick-active button {
    background: #fff;
}

.section-title {
    font-family: 'Acrom', Arial, sans-serif;
    font-size: 38px;
    line-height: 1;
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
}
.section-title:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 13px;
    background-color: #FBA632;
    z-index: -1;
}

.why-us {
    margin-top: 150px;
}

.why-us__title {
    margin-bottom: 90px;
}

.why-us__items {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .why-us__item {
    display: flex;
    background-color: #fff;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    padding-left: 20px;
    padding-top: 20px;
    align-items: center;
  }

.why-us__item:nth-child(odd){
    background-color: #ECF2F5;
    border: 1px solid #ECF2F5;
}

.why-us__item-description {
    flex: 1 1 auto;
    padding-bottom: 20px;
}

.why-us__item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.3;
    color: #239EF6;
    margin-bottom: 20px;
}

.why-us__item-img {
    flex: 0 0 auto;
    align-self: flex-end;
}

.why-us__item-img img {
    max-width: 100%;
}

.about-us {
    margin-top: 124px;
}

.about-us__text {
    padding-left: 15px;
    padding-right: 15px;
    flex:0 0 30%;
    margin-top: 70px;
}
.about-us__text p {
    margin-bottom: 20px;
}

.about-us__img {
    flex: 0 0 70%;
    align-self: center;
    display: flex;
    justify-content: center;
}

.about-us__img img {
    max-width: 100%;
}

.about-us__slider-wrapper {
    position: relative;
    margin-top: 100px;
}

.about-us__slider-prev,
.about-us__slider-next {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #f2f2f2;
    background-image: url('../img/arrow.png');
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    transform-origin: center;
    cursor: pointer;
}

.about-us__slider-prev {
    left: -50px;
    right: unset;
    transform: rotate(180deg) translateY(50%);
}

.footer {
    height: 316px;
    padding: 40px 0;
    position: relative;
}

.footer__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/footer-bg.png);
    opacity: 0.22;
    z-index: -1;
}

.footer .container,
.footer .row {
    height: 100%;
}

.footer__col {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 40px;
}

.footer__menu ul {
    list-style: none;
    padding-left: 0;
    font-size: 11px;
    font-weight: bold;
}

.footer__menu li {
    margin-bottom: 14px;
}
.footer__menu li:last-child {
    margin-bottom: 0;
}

.footer__menu li a {
    color: #2c2c2c;
    text-transform: uppercase;
}

.footer__menu li:before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #E61743;
    border-radius: 50%;
    margin-right: 5px;
}

.footer__personnel-policy a {
    color: #239EF6;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
}

.footer__heading {
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 22px;
}

.footer__partner {
    margin-bottom: 15px;
}
.footer__partner-logo {
    margin-bottom: 10px;
}

.footer__partner-name {
    font-size: 12px;
    line-height: 14px;
}

.footer__contacts-address-list {
    padding-left: 0;
    list-style-position: inside;
    font-size: 12px;
    margin-bottom: 45px;
}

.footer__contacts-address-list a {
    color: #239EF6;
    font-size: 12px;
    white-space: nowrap;
}

.footer__contacts-phone {
    font-size: 20px;
    font-weight: bold;
}

.footer__contacts-phone:before {
    content: url('../img/phone.png');
    padding-right: 10px;
}

.footer__contacts-email {
    color: #239EF6;
    font-size: 12px;
    white-space: nowrap;
}

.slick-slide img {
    max-width: 100%;
}

.footer__contacts-email:before {
    content: url('../img/mail.png');
    padding-right: 10px;
}

.footer__contacts-social {
    margin-top: 30px;
}

@media (max-width: 1199px) {
    .info__slider-wrapper {
        padding: 40px;
    }
    .why-us__items {
        grid-template-columns: repeat(2, 1fr);
    }
    .about-us__text {
        flex-basis: 50%
    }
    .about-us__img {
        flex-basis: 50%;
    }
}

@media(max-width: 991px) {

    .section-title {
        font-size: 26px;
    }
    body {
        font-size: 14px;
    }

    .promo__title {
        font-size: 28px;
    }

    .promo__description {
        flex-basis: 100%;
    }
    .promo__img {
        display: none;
    }
    .info .row {
        flex-direction: column;
    }
    .info__column {
        padding: 0;
        margin-bottom: 20px;
    }
    .info__slider-wrapper {
        margin: 0;
    }
    .info__slider-slide-title {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .info__slider-slide-description {
        font-size: 14px;
    }
    .info__slider-wrapper {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }
    .info__slider .slick-dots {
        bottom: -20px;
        margin-bottom: 0;
    }
    .why-us {
        margin-top: 50px;
    }
    .why-us__title {
        margin-bottom: 30px;
    }
    .why-us__items {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 15px;
    }
    .why-us__item {
        padding: 20px;
        margin: 0;
    }
    .why-us__item-description {
        flex-basis: 100%;
    }
    .why-us__item-img  {
        display: none;
    }
    .about-us {
        margin-top: 30px;
    }
    .about-us__title {
        margin-bottom: 30px;
    }
    .about-us__text {
        margin-top: 0;
    }
    .about-us__text {
        flex-basis: 100%;
    }
    .about-us__img {
        display: none;
    }
    .about-us__slider-wrapper {
        margin-top: 30px;
    }
    .slick-arrow {
        display: none;
    }
}


/* Home page styles end */


.sidebar {
    flex: 0 0 30%;
    padding: 0 20px;
}

.single-page {

}

.single-page .section-heading {
    margin-bottom: 30px;
}

.single-page .main-content {
    flex: 0 0 70%;
    padding: 0 20px;
}

.single-page_no-sidebar {

}

.single-page_no-sidebar .main-content {
    flex-basis: 100%;
    padding: 0;
}

.article-heading {
    
}

.article-heading.with-image {
    position: relative;
    width: 100%;
    height: 335px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}
.article-heading.with-image:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(62,62,62,0.75);
}

.article-heading .article-header {
    position: relative;
    z-index: 1;
}

.main-content {
    font-size: 16px;
}

.main-content .single-column {
    text-align: left;
    width: 430px;
    margin: 0 auto;
}

.sidebar__heading {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.tags-list {
    list-style: none;
    padding-left: 0;
}

.tags-list li {
    cursor: pointer;
    margin-bottom: 25px;
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    display: block;
    padding: 0 7px;
}

.tags-list li.active {
    background: #fffbf5;
    border: 1px solid #fba632;
    border-radius: 4px;
    font-weight: bold;
    position: relative;

}
.tags-list li.active:after {
    content: 'x';
    position: absolute;
    right: 13px;
    color: #fba632;
}

.event-cards {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .event-cards__item {
    display: flex;
    background-color: #fff;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    padding: 15px;
    align-items: center;
  }

.event-cards__item-description {
    flex: 1 1 auto;
    padding-bottom: 20px;
    font-size: 14px;
    color: #2c2c2c;
}

.event-cards__item-title {
    font-family: 'Acrom', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
    color: #2c2c2c;
    margin-bottom: 10px;
}

.event-cards__item-img {
    flex: 0 0 auto;
    margin-bottom: 15px;

}

.event-cards__item-img img {
    max-width: 100%;
}

@media (max-width: 1199px) {
    .event-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 991px) {
    .event-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .single-page .main-content {
        flex-basis: 100%;
    }
    .event-cards__item-img img {
        width: 100%;
    }
    .main-content .single-column {
        width: 100%;
        padding: 0 10px;
    }
}