* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


  
  @keyframes blink {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
  }
body {
    background-color: #17539c;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
}

section {
    background-attachment: fixed;
    overflow: hidden;
}
.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.btn {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    height: 48px;
    line-height: 48px;
    width: 370px;
    text-align: center;
    display: inline-block;
    background-color: #a03da0;
    background-image: linear-gradient(to top, rgba(24, 23, 24, 0.45) 0%, rgba(255, 255, 255, 0.45) 100%);
    box-shadow: -3.527px 4.854px 35px 0px rgba(24, 23, 24, 0.48);
    transition: all 0.4s linear;
    
}

.btn:hover {
    box-shadow: none;
    background-image: linear-gradient(to top, rgba(24, 23, 24, 0.45) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.btn-secondary {
    background-color: #2074d8;
    
}

.visible-md {
    display: none;
}
  
@media (max-width: 1199px) {
    .container {
        width: 992px;
    }
}


@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .hidden-md {
        display: none;
    }
    .visible-md {
        display: block;
    }
}

@media (max-width: 768px) {
    
}

.text.text_orange {
    color: #fcb040;
}

.section__headline {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    flex: 0 0 100%;
}

.preloader .header {
    transform: translateY(-100%);
}

.header {
    position: fixed;
    top: 0;
    z-index: 999;
    height: 100px;
    background-color: #fff;
    width: 100%;
    transform: translateY(0);
    transition: transform .4s linear;
}

.container_header {
    height: 100px;
    display: flex;
    padding-bottom: 30px;
    align-items: flex-end;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.toggle-menu {
    display: none;
}

.header-sign-up-link {
    display: none;
}

.header__menu-item {
    margin-right: 24px;
    position: relative;
}

.header__menu-item:last-child {
    margin-right: 0;
}

.header__menu-item a {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.header__menu-item.header__menu-item-sign-up a {
    color: #349c9b;
}

.header__menu-item:hover a {
    color: #349c9b;
}
.header__menu-item:hover:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #349c9b;
    left: 0;
    bottom: -10px;
}

.container_promo {
    padding-bottom: 60px;
    position: relative;
    
}
.container_promo:after {
    position: absolute;
    content: '';
    top: -10%;
    left: 30%;
    right: -17%;
    bottom: -10%;
    color: rgb(48, 173, 235);
    background: radial-gradient(circle, rgba(48, 173, 235,1) 0%, rgba(48, 173, 235,0.8) 15%, rgba(48, 173, 235,0.5) 25%, rgba(48, 173, 235,0.1) 50%, rgba(48, 173, 235,0) 70%, rgba(255,255,255,0) 100%);
    background-repeat: no-repeat;
    background-position: center right;
}

.promo {
    position: relative;
    z-index: 1;
    padding-top: 154px;
    background-image: linear-gradient(180deg, rgba(16, 58, 108,1) 0%, rgba(16, 58, 108,1) 50%, rgba(23, 83, 156,0) 70%);
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 240px;
    background-attachment: scroll;
}

.promo__spinner {
    flex-basis: 50%;
    padding: 0 30px 30px;
    position: relative;
    z-index: 1;
    }

.promo__spinner-border {
    position: absolute;
    top: 23px;
    left: 36px;
    right: 36px;
    bottom: 50px;
    border: 1px solid red;
}

.spinner__image {
    position: relative;
    transform-origin: 50% 60%;
    transition: transform 1s linear;
    font-size: 500px;
    width: 1em;
    height: 1em;
    margin: 0 auto;
    /* transform: rotate(120deg); */
}

.vertice {
    position: absolute;
    box-shadow: inset 0px 5px 5px 0px rgba(24, 23, 24, 0.14);
    width: 0.31em;
    height: 0.31em;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
}

.vertice-link {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}
.vertice-text {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.vertice-1 .vertice-text {
    color: #00a79d;
}

.vertice-2 .vertice-text {
    color: #9b3a9b;
}

.vertice-3 .vertice-text {
    color: #fcb040;
}

.vertice-text-question {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.1311em;
    opacity: 1;
    z-index: 1;
    transition: all 0.4s linear;
}

.vertice-text-question.hidden {
    opacity: 0;
    z-index: 0;
}

.vertice-text-data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 1;
    transition: all 0.4s linear;
}

.vertice-text-data.hidden {
    opacity: 0;
    z-index: 0;
}

.vertice-text-value {
    font-size: 0.03443em;
}

.vertice-text-currency {
    font-size: 0.04918em;
}

.vertice-1 {
    top: 0.0492em;
    left: 50%;
    transform: translateX(-50%);
}
.vertice-2 {
    bottom: 0.0492em;
    left: 0%;
}
.vertice-3 {
    bottom: 0.0492em;
    right: 0%;
}
  
.vertice-outer {
    width: 0.2459em;
    height: 0.2459em;
    position: absolute;
    top: 0.0328em;
    left: 0.0328em;
    border-radius: 50%;
}

.vertice-1 .vertice-outer {
    background-color: #9b3a9b;
}
.vertice-2 .vertice-outer {
    background-color: #fcb040;
}
.vertice-3 .vertice-outer {
    background-color: #00a79d;
}

.vertice-inner {
    box-shadow: -10.698px 13.211px 13px 0px rgba(24, 23, 24, 0.34);
    width: 0.1967em;
    height: 0.1967em;
    position: absolute;
    top: 0.05738em;
    left: 0.05738em;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertice:hover {
    box-shadow: none;
}

.vertice:hover .vertice-inner {
    box-shadow: none;
}

.edge {
    position: absolute;
    transform-origin: left center;
    width: 0.8983em;
    height: 0.2311em;
}

.edge-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.edge-text {
    position: absolute;
    top: 0;
    left: 0;
    top: 2em;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    font-size: 0.0869em;
    opacity: 1;
    transition: all .4s linear;
}

.edge-text.bottom {
    transform: translateX(-50%);
}

.edge .edge-text.hidden {
    opacity: 0;
}

.edge img {
    position: absolute;
    top: 0;
    left: 0;
}

.edge-1-2 {
    transform: rotate(120deg);
    left: calc(50% + 0.0492em);
    color: #9b3a9b;
}
.edge-2-3 {
    transform: rotate(0);
    bottom: 0.0984em;
    left: 0.0492em;
    color: #fcb040;
}

.edge-1-3 {
    transform: rotate(240deg);
    bottom: 0;
    left: calc(100% - 0.0984em);
    color: #19c2b8;
}

.spinner__edge {
    position: absolute;
    width: 80px;
    height: 60px;
    text-align: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

.spinner__edge-text.hidden {
    display: none;
}

.spinner__edge-question {
    font-size: 80px;
    line-height: 60px;
}
.spinner__edge-question.hidden {
    display: none;
}

.spinner__edge_1 {
    top: 19%;
    left: 50%;
    color: #00a79d;
}
.spinner__edge_2 {
    bottom: 15%;
    left: 19.5%;
    color: #9b3a9b;
}

.spinner__edge_3 {
    bottom: 15%;
    right: 5%;
    color: #fcb040;
}

.spinner__edge-currency {
    font-size: 30px;
}

.spinner__last-time {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    margin-top: 20px;
}

.spinner__last-time-text {
    color: #fff;
}
.spinner__last-time-value {
    font-weight: bold;
    text-align: center;
}

.spinner__last-time.hidden {
    display: none;
}

.spinner__last-profit {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    margin-top: 20px;
}

.spinner__last-profit-text {
    color: #fff;
}
.spinner__last-profit-value {
    font-weight: bold;
    text-align: center;
}

.spinner__last-profit.hidden {
    display: none;
}


.promo__spinner img {
    max-width: 100%;
}

.promo__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.preloader .promo__headline {
    transform: translateX(-150%);
}

.promo__headline {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    transform: translateX(0);
    transition: transform 1s cubic-bezier(.11,.47,1,1.74);
    margin-bottom: 40px;
}

.promo__sign-up {
    padding-bottom: 55px;
}

.promo__sign-up-heading.loading {
    opacity: 0;
}

.promo__sign-up-heading {
    opacity: 1;
    transition: opacity .5s linear;
    font-size: 20px;
    color: #fff;
    padding-bottom: 48px;
}

.promo__form {
    width: 360px;
}
.promo__form .email.loading {
    opacity: 0;
}
.promo__form .email {
    opacity: 1;
    transition: opacity .5s linear;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    padding: 0 20px;
    margin-bottom: 24px;
}
.promo__form .btn.loading {
    opacity: 0;
}
.promo__form .btn {
    opacity: 1;
    transition: opacity .5s linear;
    width: 360px;
}

.statistics {
    height: 790px;
    margin-top: -240px;
    padding-top: 144px;
    background-image: url(../img/whale+water.jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
}

.container_statistics {
    flex-wrap: wrap;
}

.container_statistics .section__headline {
    flex: 0 0 100%;
    margin-bottom: 50px;
}

.statistics__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    z-index: 1;
}

.statistics__current-text {
    flex: 1 0 50%;
    color: #fff;
    font-size: 14px;
}

.statistics__current-text p{
    margin-bottom: 15px;
}

.statistic__item {
    flex: 0 0 calc(25% - 30px);
    height: 160px;
    margin-left: 25px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    align-items: flex-end;
    color: #fff;
    padding-bottom: 14px;
    opacity: 1;
    transition: all .4s linear;
}
.statistic__item.hidden {
    opacity: 0;
}

.statistic__item:nth-child(n+4) {
    margin-bottom: 0;
}

.statistic__item:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.75;
    background-size: cover;
    background-position: center right;
    transition: all .4s linear;
    z-index: 0;
}

.statistic__item:hover:before {
    opacity: 1;
}


.statistic__item:nth-child(2):before {
    background-image: url(../img/step-1.png);
}
.statistic__item:nth-child(3):before {
    background-image: url(../img/step-2.png);
}
.statistic__item:nth-child(4):before {
    background-image: url(../img/step-3.png);
}
.statistic__item:nth-child(5):before {
    background-image: url(../img/step-4.png);
}
.statistic__item:nth-child(6):before {
    background-image: url(../img/step-5.png);
}

.statistic__item-number {
    position: relative;
    font-size: 60px;
    line-height: 48px;
    width: 80px;
    padding-left: 10px;
    transform: translateX(-24px);
    transition: all .2s linear;
}

.statistic__item:hover .statistic__item-number {
    transform: translateX(0);
}
.statitic__item-text {
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    position: relative;
    padding-left: 8px;
}

.triangle-item {
    position: absolute;
    transform-origin: center;
    
}

.triangle-sm {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
}

.triangle-lg {
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
}

.statistics .triangle-lg {
    bottom: -208px;
    left: -108px;
    z-index: 0;
}

.statistics .triangle-sm {
    bottom: -141px;
    left: -5px;
    z-index: 0;
}

.history-diagram {
    position: relative;
    background-image: url(../img/how-it-works.jpg);
    padding-top: 80px;
    padding-bottom: 48px;
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
}

.history-diagram-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.history-diagram-item:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/diagram-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    opacity: 0.7;
}

.diagram__left-side,
.diagram__right-side {
    flex: 1 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.diagram__detail {
    padding: 40px 0;
}

.diagram__detail-headline {
    font-size: 24px;
    color: #fff;
}
.diagram__detail-value {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
} 

.diagram__detail-value.volume {
    color: #fcb040;
}

.diagram__detail-value.total-assets {
    color: #838383;
}

.diagram__detail-value.transactions {
    color: #5bb9ea;
}

.bankroll-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 9;
}
.bankroll-headline {
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    margin-bottom: 30px;
}

.bankroll-value {
    font-size: 80px;
    line-height: 80px;
    height: 80px;
}

.diagram__image {
    flex: 0 0 560px;
    width: 560px;
    height: 560px;
    box-shadow: inset 4.792px -3.611px 24px 0px rgba(24, 23, 24, 0.24);
    border-radius: 50%;
    position: relative;
}
.diagram__image::after,
.diagram__image::before {
    content: url(../img/diagram-prev.png);
    position: absolute;
    opacity: 0.5;
    top: 50%;
}

.diagram__image::before {
    left: 0;
    transform: translateX(-100%);
}
.diagram__image::after {
    right: 0;
    transform: translateX(100%);
}

.c100.diargram-circle .bar,
.c100.diargram-circle .fill {
    border-width: 25px;
    width: calc(1em - 50px);
    height: calc(1em - 50px);
    transition: transform 2s linear;
}
.c100.diargram-circle {
    background-color: transparent;
    
}
.c100.diargram-circle:after {
    background-color: transparent;
}

.diargram-circle.volume-circle {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 520px;
}

.diargram-circle.volume-circle .bar,
.diargram-circle.volume-circle .fill {
    border-color: #fcb040;
    transition: transform 1.176s linear;
}

.diargram-circle.volume-circle.second-half .bar,
.diargram-circle.volume-circle.second-half .fill {
    transition-duration: 0.823s;
}

.diargram-circle.volume-circle.no-animation .bar,
.diargram-circle.volume-circle.no-animation .fill {
    transition-duration: 0s;
}

.diargram-circle.transaction-circle {
    position: absolute;
    top: 45px;
    left: 45px;
    font-size: 470px;
}

.diargram-circle.transaction-circle .bar,
.diargram-circle.transaction-circle .fill {
    border-color: #00bff3;
}

.diargram-circle.asset-circle {
    position: absolute;
    top: 70px;
    left: 70px;
    font-size: 420px;
}

.diargram-circle.asset-circle .bar,
.diargram-circle.asset-circle .fill {
    border-color: #898989;
}


    

.diagram__check-btn {
    flex: 1 0 100%;
    text-align: center;
}

.container_history {
    flex-wrap: wrap;
}

.history-diagram img {
    max-width: 100%;
    width: 100%;
}
.diagram__check-btn {
    margin-top: 20px;
    text-align: center;
}

.history-table {
    background-image: url(../img/history-bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 104px;
    padding-bottom: 100px;
}

.history-table__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.history__column {
    flex: 0 0 50%;
    padding: 0 40px;
    margin-bottom: 80px;
}

.history__heading {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.history__list {
    list-style: none;
    padding-left: 30px;
    max-height: 270px;
    overflow-y: hidden;
}

.history__list-item {
    margin-bottom: 10px;
    height: 44px;
    line-height: 44px;
    padding: 0 30px;
    transition: all .4s linear;
}

.history__list-item:nth-child(odd) {
    background-color: rgba(29,29,29,0.2);
}

.history__list-link {
    display: flex;
    height: 44px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.history__list-link:hover {
    text-decoration: underline;
    color: #00a79d;
}

.history__item-value {
    flex: 0 0 104px;
}

.history__item-text {
    padding-left: 15px;
}

.trade-history-graph {
    padding-top: 50px;
    background-image: url(../img/graph-bg.png);
    background-size: cover;
    background-position: bottom center;

}


.container_graph {
    flex-wrap: wrap;
}

.container_graph .section__headline {
    margin-bottom: 60px;
}

.graph-slider-wrapper {
    width: calc(100% - 150px);
    margin: 0 auto;
}

.graph-slider {
    margin-bottom: 30px;
}

.graph__item {
    padding: 0 8px;
}

.graph__item-inner {
    display: flex;
}

.graph__item-details {
    flex: 0 0 calc(75% - 1px);
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #12427d;
    margin-right: 1px;
    height: 200px;
}


.graph__item-edge {
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 22px;
    color: #fff;
}
.graph__item-edge:hover {
    color: #0bffff;
}
.graph__item-edge.graph__item-edge-1 {
    top: 15%;
    left: 3%;
    text-align: right;
    width: 37%;
}
.graph__item-edge.graph__item-edge-2 {
    bottom: 10%;
    text-align: right;
    left: 3%;
    width: 37%;
}
.graph__item-edge.graph__item-edge-3 {
    bottom: 10%;
    left: 60%;
    width: 37%;   
}
.graph__item-info {
    display: flex;
    padding: 0 5px;
    flex-direction: column;
    justify-content: space-around;
}

.graph__item-time-text {
    font-size: 12px;
    color: #fff;
}
.graph__item-time-value {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.graph__item-profit-text {
    font-size: 12px;
    color: #fff;
}
.graph__item-profit-value {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
}



.graph__item-edge a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}
.graph__item-edge a:hover {
    text-decoration: underline;
    color: #0bffff;
}

.graph__item-image {
    height: 60%;
    margin-bottom: 20px;
}


.graph__item-info {
    flex: 0 0 25%;
    background-color: #12427d;
    
}

.graph__item img {
    max-width: 100%;
}

.graph-slider {
    position: relative;
}

.graph-slider .slick-dots {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    width: auto;
    justify-content: space-between; 
}

.graph-slider .slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    margin: 0 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.graph-slider .slick-active button {
    background-color: #4086db;
}

.graph-slider .slick-arrow {
    background-image: url(../img/slider-arrow.png);
    position: absolute;
    top: 50%;
    font-size: 0;
    transform: translateY(-50%);
    background-color: transparent;
    width: 36px;
    height: 72px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}


.graph-slider .slick-prev {
    transform: translateY(-50%) rotate(180deg);
    left: -72px;
}

.graph-slider .slick-next {
    right: -72px;
}

.graph {
    margin: 24px 0;
    width: 100%;
}

#cursor,
#tooltip {
  position: absolute;
}

#graph {
    position: relative;
}

.graph-buttons {
    display: flex;
    justify-content: flex-end;
}

.graph-button {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    color: #9abfec;
    font-size: 19px;
    cursor: pointer;
}

.graph-button.active {
    background-color: #fff;
    color: #4086db;
}

.graph-container {
    overflow-x: scroll;
}
/* 
.graph img{
    max-width: 100%;
} */



.register {
    padding-top: 100px;
    background-image: url(../img/footer-bg.png);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
}

.robot {
    position: relative;
    flex: 0 0 30%;
}
.robot img {
    max-width: 100%;
}


.register .triangle-lg {
    top: -36px;
    right: -72px;
    z-index: 0;
}

.register .triangle-sm {
    top: 120px;
    right: -108px;
    z-index: 0;
}

.register_container {
    flex-wrap: wrap;
    align-items: center;
}

.register__form {
    width: 560px;
    margin-left: 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 120px;
    position: relative;
    z-index: 1;
}

.register__form-subheading {
    font-size: 24px;
    margin-bottom: 40px;
}

.register__form-heading {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.register__form input {
    width: 370px;
    height: 48px;
    padding: 0 20px;
    line-height: 48px;
    font-size: 20px;
    margin-bottom: 25px;
}

.register__form .btn {
    width: 370px;
}

.footer {
    position: relative;
    z-index: 1;
    width: 100%;
}

.footer__menu {
    display: flex;
    align-items: center;
    padding-bottom: 22px;
    border-bottom: 2px solid #fff;
    margin-bottom: 30px;
}

.footer__menu-items {
    display: flex;
    flex: 1 0 0px;
    list-style: none;
    justify-content: space-between;
}

.footer__menu-items li a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.footer__menu-items li a:hover {
    text-decoration: underline;
    color: #09f2f9;
}

.footer__logo {
    flex: 0 0 200px;
    text-align: center;
    margin: 0 40px;
}

.footer__logo img {
    max-width: 100%;
}

.footer__info {
    display: flex;
    width: 790px;
    margin: 0 auto;
    justify-content: space-between;
    height: 110px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    
}

.footer__social {
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.social-icon {
    display: block;
    width: 48px;
    height: 48px;
    background-image: url(../img/icons-social.png);
    background-size: 157px;
}
.icon_fb {
    background-position: 0 0;
}

.icon_tw {
    background-position: -54px 0;
}

.icon_ig {
    background-position: -108px 0;
}

@media (max-width: 1199px) {
    .container_promo:after {
        left: 40%;
    }
    .header__menu-item a {
        font-size: 14px;
    }
    .promo__details {
        flex: 0 0 50%;
    }
    .promo__headline {
        font-size: 50px;
    }
    .promo__spinner {
        height: auto;
    }
    .statistics__current-text {
        flex-basis: 40%
    }
    .statistic__item {
        flex-basis: calc(30% - 30px);
    }
    .statistic__item-number {
        font-size: 60px;
        line-height: 40px;
        width: 70px;
    }
    .statitic__item-text {
        font-size: 26px;
        line-height: 20px;
    }
    .diagram__detail-value {
        font-size: 32px;
    }
    .diagram__image {
        width: 500px;
        height: 500px;
        flex-basis: 500px;
    }
    .diargram-circle.volume-circle {
        font-size: 460px;
    }
    .diargram-circle.transaction-circle {
        font-size: 410px;
    }
    .diargram-circle.asset-circle {
        font-size: 360px;
    }
    .history__column {
        padding: 0 30px;
    }
    .history__list-link {
        font-size: 20px;
    }
    .history__item-value {
        flex-basis: 100px;
    }
    .register__form {
        margin-bottom: 20px;
        text-align: center;
    }
    .register__form input {
        margin-left: auto;
        margin-right: auto;
    }
    .register__form .btn {
        margin-left: auto;
        margin-right: auto;
    }

    .robot {
        position: relative;
        left: 0;
        top: 0;
        text-align: center;
    }
    .register .triangle-sm {
        top: 650px;
        right: 0;
    }
    .register .triangle-2 {
        top: 650px;
        right: 0;
    }
    .register_container {
        justify-content: center;
        align-items: center;
    }
    .robot {
        order: 1;
        flex-basis: 50%;
    }
    .footer {
        order: 1;
    }
    .footer__menu {
        justify-content: center;
    }
    .footer__menu-items  {
        display: none;
    }
}

@media(max-width: 991px) {

    .container_promo:after {
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 10%;
    }
    
    .header {
        height: 60px;
        padding: 0 10px;
    }
    .header__logo {
        width: 200px;
    }
    .header__menu {
        display: none;
    }
    .container_header {
        position: relative;
        background-color: #fff;
    }
    .header__menu {
        display: block;
        position: absolute;
        top: 0px;
        width: 100vw;
        left: -10px;
        background-color: #fff;
        z-index: -1;
        text-align: center;
        transition: all .4s linear;
        transform: translateY(-100%);
    }
    .header__menu.active {
        top: 60px;
        transform: translateY(0);
    }
    .header__menu-item {
        margin: 0;
        height: 30px;
    }
    .header__menu-item:hover a {
        text-decoration: underline;
    }
    .header__menu-item:hover:after {
        display: none;
    }
    .container_header {
        align-items: center;
        height: 60px;
        padding: 0;
    }
    .toggle-menu {
        display: inline-block;
        width: 21px;
        height: 11px;
        position: relative;
        margin-top: 7px;
    }
    .toggle-menu-inner,
    .toggle-menu-inner:before,
    .toggle-menu-inner:after {
        position: absolute;
        width: 21px;
        height: 1px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        background-color: #1c908e;
    }
    .toggle-menu-inner {
        top: 50%;
        display: block;
        margin-top: -2px;
        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
        transition-duration: 75ms;
    }
    .toggle-menu-inner:before {
        content: '';
        top: -4px;
        transition: top 75ms ease .12s,opacity 75ms ease;
    }
    .toggle-menu-inner:after {
        content: '';
        bottom: -4px;
        transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
    }

    .toggle-menu.active .toggle-menu-inner {
        transition-delay: .12s;
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: rotate(45deg);
    }

    .toggle-menu.active .toggle-menu-inner:before {
        top: 0;
        transition: top 75ms ease,opacity 75ms ease .12s;
        opacity: 0;
    }

    .toggle-menu.active .toggle-menu-inner:after {
        bottom: 0;
        transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
        transform: rotate(-90deg);
    }

    .header-sign-up-link {
        display: block;
        color: #209391;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 4px;
    }
    
    .section__headline {
        text-align: center;
        font-size: 42px;
        margin-bottom: 30px;
    }
    .container_promo {
        flex-direction: column;
        align-items: center;
    }
    .promo__headline {
        font-size: 32px;
    }
    .promo__spinner {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .promo__sign-up-heading {
        padding-bottom: 30px;
    }
    .promo__form {
        margin: 0 auto;
    }
    .statistics {
        height: auto;
        padding-top: 100px;
        padding-bottom: 60px;
    }
    .statistics__items {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .statistics__current-text {
        flex-basis: auto;
        padding: 0 15px;
    }
    .statistics__current-text {
        margin-left: 10px;
    }
    .statistic__item {
        flex-basis: auto;
        margin-bottom: 0;
        height: 110px;
        transition: all .4s linear;
    }
    .statistic__item:hover {
        height: 150px;
    }
    .diagram__image {
        width: 450px;
        height: 450px;
        flex-basis: 450px;
        margin: 0 30px;
    }
    .c100.diargram-circle .bar, .c100.diargram-circle .fill {
        border-width: 15px;
        width: calc(1em - 30px);
        height: calc(1em - 30px);
    }
    .diargram-circle.volume-circle {
        top: 20px;
        left: 20px;
        font-size: 410px;
    }
    .diargram-circle.transaction-circle {
        top: 35px;
        left: 35px;
        font-size: 380px;
    }
    .diargram-circle.asset-circle {
        top: 50px;
        left: 50px;
        font-size: 350px;
    }
    .diagram__check-btn {
        width: 100%;
        padding: 0 30px;
    }
    .history__column {
        flex-basis: 100%;
    }
    .history__heading {
        font-size: 42px;
        text-align: center;
    }
    .history-diagram-item .container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .diagram__left-side, .diagram__right-side {
        flex-basis: 50%;
        order: 1;
        padding: 0 20px;
    }
    .graph-slider .slick-arrow {
        width: 28px;
        height: 54px;
    }
    .graph__item {
        padding: 0;
    }
    
    .register__form {
        width: 100%;
        margin-top: 10px;
        margin: 10px 0 0;
    }
    .register__form-heading {
        order: 2;
        margin-bottom: 0;
    }
    .register__form-subheading {
        font-size: 18px;
    }
    .register__form-heading {
        margin-top: 40px;
        font-size: 28px;
    }
    .footer__info {
        width: 100%;
        flex-wrap: wrap;
    }

}
@media(max-width: 768px) {
    .spinner__image {
        font-size: 450px;
    }
    .graph__item-details {
        height: 150px;
    }
    .graph__item-details {
        flex-basis: 65%;
    }
    .graph__item-info {
        flex-basis: 35%;
        padding: 0 10px;
    }
    .graph__item-edge {
        font-size: 16px;
    }
}

@media (max-width: 479px) {
    .header__logo {
        width: 100px;
    }
    .promo__headline {
        font-size: 25px;
    }
    .promo__spinner {
        width: 100%;
    }
    .spinner__image {
        font-size: 280px;
    }
    .spinner__last-profit,
    .spinner__last-time {
        font-size: 14px;
        margin-top: 0;
    }
    .btn {
        width: 250px;
        font-size: 14px;
        height: 35px;
        line-height: 35px;
    }
    .promo__form {
        padding: 0 30px;
        width: 100%;
    }
    .promo__sign-up-heading {
        padding: 0 15px 30px;
        font-size: 14px;
        text-align: center;
    }
    .promo__form .email {
        font-size: 14px;
        height: 33px;
        line-height: 33px;
        padding: 0 15px;
        margin-bottom: 20px;
    }
    .promo__form .btn {
        width: 100%;
    }
    .section__headline {
        font-size: 30px;
    }
    .bankroll-headline {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .bankroll-value {
        font-size: 40px;
        line-height: 1;
        height: 40px;
    }
    .diagram__detail-headline {
        font-size: 10px;
    }
    .diagram__detail-value {
        font-size: 18px;
    }
    .diagram__image {
        width: 290px;
        height: 290px;
        flex-basis: 290px;
    }
    .diargram-circle.volume-circle {
        font-size: 250px;
    }
    .diargram-circle.transaction-circle {
        font-size: 220px;
    }
    .diargram-circle.asset-circle {
        font-size: 190px;
    }
    .history__column {
        padding: 0;
    }
    .history__list {
        padding: 0;
    }
    .history__list-item {
        padding: 0 40px
    }
    .history__heading {
        font-size: 30px;
    }
    .history__list-link {
        font-size: 14px;
    }
    .graph-slider-wrapper {
        width: calc(100% - 60px);
    }
    .graph-slider .slick-arrow {
        width: 14px;
        height: 28px;
    }
    .graph__item-details {
        flex-basis: calc(70% - 1px);
    }
    .graph__item-info {
        flex-basis: 30%;
    }

    .graph__item-time-text,
    .graph__item-profit-text {
        font-size: 8px;
    }
    .graph__item-time-value {
        font-size: 14px;
    }
    .graph__item-profit-value {
        font-size: 18px;
    }
    .graph-slider .slick-prev {
        left: -20px;
    }
    .graph-slider .slick-next {
        right: -20px;
    }
    .robot {
        flex-basis: 80%;
    }
    .register__form {
        padding: 0 30px;
    }
    .register__form-subheading {
        font-size: 14px;
    }
    .register__form-heading {
        font-size: 20px;
    }
    .register__form input {
        width: 100%;
    }
    .register__form .btn {
        width: 100%;
    }
}